@import url("https://fonts.google.com/specimen/Montserrat, Fraunces:wght@500; 700&display=swap");

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: var(--Cream);
}

.card {
  width: 343px;
  height: 611px;
  background-color: var(--White);
  border-radius: 10px;
}

.content {
  margin-top: 24px;
}

.product-image {
  background-image: url("images/image-product-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 343px 240px;
  width: 343px;
  height: 240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.perfume {
  margin-left: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  color: var(--Dark-grayish-blue);
}

h1 {
  margin-left: 24px;
  width: 295px;
  height: 64px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: var(--Very-dark-blue);
}

p {
  width: 295px;
  height: 92px;
  margin-left: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: var(--Dark-grayish-blue);
}

.price {
  width: 194px;
  height: 32px;
  display: flex;
  justify-content: center start;
  align-items: center;
  margin-left: 24px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: var(--Dark-cyan);
}

del {
  width: 48px;
  height: 23px;
  margin-left: 19px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--Dark-grayish-blue);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  margin-top: 20px;
  width: 295px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--Dark-cyan);
  color: var(--White);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.add {
  margin-left: 10px;
}

@media (min-width: 576px) {
  .card {
    width: 600px;
    height: 450px;
    display: flex;
  }

  .product-image {
    background-image: url("images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 300px 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    width: 300px;
    height: 450px;
  }

  .content {
    width: 300px;
    height: 450px;
  }

  .perfume {
    margin-left: 32px;
    width: 92px;
    height: 15px;
  }

  h1 {
    margin-left: 32px;
    width: 236px;
    height: 96px;
  }

  p {
    margin-left: 32px;
    width: 237px;
    height: 92px;
  }

  .price {
    margin-left: 32px;
    width: 194px;
    height: 32px;
    margin-top: 32px;
  }

  button {
    margin-left: 32px;
    width: 236px;
    height: 48px;
    margin-top: 35px;
  }
}
